.vscode/**
node_modules/**
src/**
.git/**
.github/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
GRAPHICS_BRIEF.md
REPO_CONFIG_SPEC.md
CONTRIBUTING.md
images/shutup-tabs-social-preview.png
images/shutup-tabs-social-preview-compressed.jpg
images/shutup-tabs-hero-banner.png
